.btn {
  $color: #4a5;
  background: $color;
  border: 1px solid darken($color, 15%);
  border-radius: 3px;
  box-shadow: 0 4px 0 darken($color, 10%),
    inset 0 1px 1px rgba(white, .5),
    0 1px 3px rgba(black, .4);
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(black, .5);
  
  transition: all .1s ease;
  
  &:focus, &:hover {
    background: lighten($color, 5%);
    box-shadow: 0 4px 0 darken($color, 10%),
      inset 0 1px 1px rgba(white, .5),
      0 2px 5px rgba(black, .5);
  }
  
  &:active {
    background: $color;
    box-shadow: 0 0 0 darken($color, 10%),
      inset 0 -1px 1px rgba(black, .2),
      0 2px 5px rgba(black, .2);
    transform: translateY(4px);
  }
}
