form.new action="/auth/identity/callback" method="POST"
    input type="text" placeholder="Email" name= :auth_key
    input type="password" placeholder="Contraseña" name= :password
    input type="submit" class="button tiny radius nuevo" value="Enviar" title="Submit"