.element {
	margin-bottom: .1em;
}

.elementdown {
	margin-bottom: 1.2em;
}

.rojo h6 {
	color:#ff0000;
}

.rojo h3 {
	color:#ff0000;
}

.azul h6 {
	color:#66ccff;
}

.azul h3 {
	color:#66ccff;
}

.gris h6 {
	color:#cccccc;
}

.gris h3 {
	color:#cccccc;
}

.liroja {
    border-top:    1px solid #ff0000;

}
.ligris {
    border-top:    1px solid #cccccc;

}

.pad{
	padding-top: .5em;
	margin-bottom: .1em;
}

h3 {
	margin-bottom: .1em;
}
h6 {
	margin-bottom: .6em;
}



button.nuevo, .button.nuevo {
	background: #ff0000;
color: #fff;
	margin-bottom: .5em;
padding-top: 0.1rem;
padding-bottom: .2em;
border-color: #FF0000;
  box-shadow: 0 4px 0 #cc0000, inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);

}

.nuevo:focus, .nuevo:hover {
    background: #ff1a1a;
    box-shadow: 0 4px 0 #cc0000, inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 2px 5px rgba(0, 0, 0, 0.5); 
    outline: none;
}

.nuevo:active {
    background: red;
    box-shadow: 0 0 0 #cc0000, inset 0 -1px 1px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(4px); }

}

textarea, input { outline: none; }


select {

  background-color: #FFFFFF;

}


.initiallyHidden { display: none; }


#frm {
	position: absolute;
}


.botonsazo {
  background: red;
  border: 1px solid #b30000;
  border-radius: 3px;
  box-shadow: 0 4px 0 #cc0000, inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  /* font-weight: bold; */
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  /* padding: 0 1rem; */
  text-align: center;
  text-decoration: none;
  /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); */
  transition: all .1s ease; 
}

.botonsazo:focus, .botonsazo:hover {
    background: #ff1a1a;
    box-shadow: 0 4px 0 #cc0000, inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.botonsazo:active {
    background: red;
    box-shadow: 0 0 0 #cc0000, inset 0 -1px 1px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(4px); }

}






