.element {
	margin-bottom: .1em;
}

.elementdown {
	margin-bottom: 1.2em;
}

.rojo h6 {
	color:#ff0000;
}

.rojo h3 {
	color:#ff0000;
}

.azul h6 {
	color:#66ccff;
}

.azul h3 {
	color:#66ccff;
}

.gris h6 {
	color:#cccccc;
}

.gris h3 {
	color:#cccccc;
}

.liroja {
    border-top:    1px solid #ff0000;

}
.ligris {
    border-top:    1px solid #cccccc;

}

.pad{
	padding-top: .5em;
	margin-bottom: .1em;
}

h3 {
	margin-bottom: .1em;
}
h6 {
	margin-bottom: .6em;
}

#form {
	position: absolute;
}

#advpayment {
	display: none;
	
}
#quote {
	display: none;
	
}
#payment {
	display: none;
	
}
#purchase {
	display: none;
	
}

button.nuevo, .button.nuevo {
	margin-bottom: .5em;
padding-top: 0.1rem;
padding-bottom: .2em;
border-color: #FF0000;
}

textarea, input { outline: none; }


select {

  background-color: #FFFFFF;

}











